DEPLOYMENT_PLATFORM=cloudflare-workers
ATP_APP_PASSWORD=12ab-cdef-gh34-56ij
PDS_URL=https://inkcap.us-east.host.bsky.network
DID=did:plc:aodf5s8ru2mgbzntlvept3os
BSKY_HANDLE=iainsimmons.com
PUBLICATION_URI=at://did:plc:aodf5s8ru2mgbzntlvept3os/site.standard.publication/6zalsagqzc65n
